body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	color: #333;
}

a {
	color: #128fed;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.side-menu {
	background: #128fed;
	color: #fff;
}

.side-menu a {
	color: #fff;
}

.side-menu .header .header-link {
	display: block;
	white-space: nowrap;
	padding: .5rem 1rem;
	font-size: 1.25rem;
}

.side-menu .header .header-link:hover {
	text-decoration: none;
}

.side-menu .header .brand-icon {
	margin-left: -1rem;
}

.side-menu .nav {
	list-style: none;
	padding: 0;
	margin: 0;
}

.side-menu .nav .nav-link {
	display: block;
	box-sizing: border-box;
	padding: .5rem 1rem;
}

.side-menu .nav .nav-link:hover {
	text-decoration: none;
	background: rgba(255,255,255,0.1);
}

.side-menu .nav .nav-link {
	padding-left: 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	background: #f8f8f8;
}

.navbar a {
	color: #555;
}

.navbar > .nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.navbar > .nav > .nav-item {
	padding: .5rem 1rem;
}

.navbar .nav-link:hover {
	text-decoration: none;
}

.content {
	padding: 0 1rem;
}