body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	background: #f8f8f8;
	color: #333;
}

a {
	color: #128fed;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Side Menu */

.side-menu-overlay {
	display: block;
	background: rgba(0,0,0,.2);
	opacity: 0;
	transition: opacity 200ms;
}

.side-menu-expanded:not(.side-menu-full) .side-menu-overlay {
	opacity: 1;
}

.side-menu {
	background: #fff;
	color: #555;
	box-shadow: 0 0 7px rgba(0,0,0,0.2);
}

.side-menu a {
	color: #666;
}

.side-menu a:hover {
	color: #555;
}

.side-menu .header .header-link {
	display: block;
	white-space: nowrap;
	padding: .5rem 1rem;
	font-size: 1.25rem;
}

.side-menu .header .header-link:hover {
	text-decoration: none;
}

.side-menu .header .brand-icon {
	margin-left: -1rem;
}

.side-menu .nav {
	list-style: none;
	padding: 0;
	margin: 0;
}

.side-menu .nav .nav-link {
	display: block;
	box-sizing: border-box;
	padding: .5rem 1rem;
	border-left: 5px solid transparent;
}

.side-menu .nav .nav-link:hover {
	text-decoration: none;
	border-left-color: #ddd;
}

.side-menu .nav .nav-link.active {
	color: #128fed;
	border-left-color: #128fed;
}

.side-menu .nav .nav-link {
	padding-left: 0;
}

.side-menu .nav .nav-link-icon {
	margin-left: -5px;
}

/* Navbar */

.navbar {
	display: flex;
	justify-content: space-between;
}

.navbar > .nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.navbar > .nav > .nav-item {
	padding: .5rem 1rem;
}

.navbar .nav-link {
	color: #666;
}

.navbar .nav-link:hover {
	text-decoration: none;
	color: #555;
}

.content {
	padding: 0 1rem;
}